<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 50px 50px;
  border: 2px solid #ccc;
  border-top: none;
}
</style>
</head>
<body>

<h1>Rishabh Kapoor</h1>
<p>I'm a student at Rutgers University! Get to know me more.</p>
	
<body onload="document.getElementById('defaultOpen').click();">
<div class="tab">
  <button class="tablinks active" onclick="openCity(event, 'Home')" id="defaultOpen">Home</button>
  <button class="tablinks" onclick="openCity(event, 'Activities')">Activities</button>
  <button class="tablinks" onclick="openCity(event, 'Experience')">Experience</button>
  <button class="tablinks" onclick="openCity(event, 'Projects')">Projects</button>
  <button class="tablinks" onclick="openCity(event, 'Fun Things')">Fun Things</button>
  <button class="tablinks" onclick="openCity(event, 'Resume')">Resume</button>
</div>
	
<div id="Home" class="tabcontent">
  <a href='https://photos.google.com/share/AF1QipN-39GKTekvb-j1ljw3bz1Mx4wqK2sdnLfeeHr1ViegyAnTvCNY_uCxZFbZ2XR3jA?key=RmpkcTVzelkwT3BJUmZod1dpbEwtNXAybTR4ZG13&source=ctrlq.org'><img src='https://lh3.googleusercontent.com/WrIeq2md8UbI7Gl8Q2mA7ZoskkHy-Ci0dT5SVsrPFekUZ4YCNpir47sLOe_fNKzUAmp-oM2TUTW84WrEeY22PPmD674CV3bHq9r5_J3QBHiSxEDYTI2pWfN7VvF_tQLf2HCPtsVs8Q=w2400' width="400" height="500"/></a>
  <h2>Triple major in Computer Science, Mathematics, and Finance</h2>
  <h2>GPA: 3.97</h2>
  <p>Involved in Phi Chi Theta, Rutgers University Dance Marathon, Residence Life, and more. Check out the other tabs to learn more about me!</p>
</div>
	
<div id="Activities" class="tabcontent">
  <h3>Activities</h3>
  <h2>Phi Chi Theta</h2>
	<p>Phi Chi Theta is a professional business fraternity on campus at Rutgers! We've consistently had the top GPA among business fraternities on campus, and are involved all around Rutgers activities including community service, corporate company events, job fairs, and work to actively support the LUPUS foundation! We're all about broherhood, community, and empowerment and self improvement. I've served as Treasurer of Phi Chi Theta from 2018 through 2019, where I worked to maintain the fraternity's budget, create and effectively oversee several fundraising events to raise $5,000 yearly, and supervise fundraising and financial news directors. My position concluded in an amassment of $12,000 since taking the position.</p>   
</div>

<div id="Experience" class="tabcontent">
  <h3>Experience</h3>
  <p>Paris is the capital of France.</p> 
</div>

<div id="Projects" class="tabcontent">
  <h3>Projects</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>
	
<div id="Fun Things" class="tabcontent">
  <h3>Fun Things</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>
	
<div id="Resume" class="tabcontent">
  <h3>Resume</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
};
	
$( document ).ready(function() {
$( "button:first " ).trigger( "click" );
});
</script>
   
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:rishabh.kapoor798@gmail.com">Email me</a></li>
	        		<li><a href="https://github.com/rishabhkapoor17">Check out my GitHub</a></li>
				</ul>
			</footer>
		</body>
	</html>
