<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 50px 50px;
  border: 2px solid #ccc;
  border-top: none;
}
</style>
</head>
<body>

<h1>Rishabh Kapoor</h1>
<p>I'm a student at Rutgers University! Get to know me more.</p>
	
<body onload="document.getElementById('defaultOpen').click();">
<div class="tab">
  <button class="tablinks active" onclick="openCity(event, 'Home')" id="defaultOpen">Home</button>
  <button class="tablinks" onclick="openCity(event, 'Activities')">Activities</button>
  <button class="tablinks" onclick="openCity(event, 'Experience')">Experience</button>
  <button class="tablinks" onclick="openCity(event, 'Projects')">Projects</button>
  <button class="tablinks" onclick="openCity(event, 'Fun Things')">Fun Things</button>
  <button class="tablinks" onclick="openCity(event, 'Resume')">Resume</button>
</div>
	
<div id="Home" class="tabcontent">
  <a href='https://photos.google.com/share/AF1QipN-39GKTekvb-j1ljw3bz1Mx4wqK2sdnLfeeHr1ViegyAnTvCNY_uCxZFbZ2XR3jA?key=RmpkcTVzelkwT3BJUmZod1dpbEwtNXAybTR4ZG13&source=ctrlq.org'><img src='https://lh3.googleusercontent.com/WrIeq2md8UbI7Gl8Q2mA7ZoskkHy-Ci0dT5SVsrPFekUZ4YCNpir47sLOe_fNKzUAmp-oM2TUTW84WrEeY22PPmD674CV3bHq9r5_J3QBHiSxEDYTI2pWfN7VvF_tQLf2HCPtsVs8Q=w2400' width="400" height="500" class="center"/></a>
  <h2>Triple major in Computer Science, Mathematics, and Finance</h2>
  <h3>GPA: 3.97</h2>
  <p>Born in India and raised in New Jersey, a 5'6", 185lb immigrant strives to take on the world. His biggest life goal is to make an impact to make the world a better place for everyone living in it, including his family. He's currently looking for jobs in Quant Trading, Quant Analysis, and Software Engineering. Check out the other tabs to see what he's all about. </p> 
	
</div>
	
<div id="Activities" class="tabcontent">
  <h1>Things I do on campus</h1>
	
	
  <h2>Phi Chi Theta</h2>
	<h3> Treasurer </h3>
	<p>Phi Chi Theta is a professional business fraternity on campus at Rutgers! We've consistently had the top GPA among business fraternities on campus, and are involved all around Rutgers activities including community service, corporate company events, job fairs, and work to actively support the LUPUS foundation! I've served as Treasurer of Phi Chi Theta from 2018 through 2019, where I worked to maintain the fraternity's budget, effectively create fundraising events to raise $5,000 yearly, and supervise a team of directors. My position concluded in an amassment of $12,000 since taking the position.</p>   

	
<h2>Rutgers Dance Marathon</h2>
	<h3> Captain </h3>
	<p> Rutgers Dance Marathon is Rutgers' largest student organized philanthropic organization. We donate upwards of $1 million every year to the Embrace Kids Foundation through a 24 hour "dance" event which brings the Rutgers- New Brunswick family together. I have been an active participant in Rutgers Dance Marathon since 2018 and had the position of captain this year. I helped to organize the overall planning of the event this year as a member of the Dancer Relations team. We organized participants into teams and planned events for them to do at the marathon!</p>

	
<h2>VerseOne</h2>
	<h3> Hip-Hop Dancer </h3>
	<p> I have been involved in dance ever since middle school and have joined different organizations since. At Rutgers, I was part of Rutgers Performing Dance Company and most recently Verse One, a begginer-mid hip hop team! We showcased in competitions at NJIT as well as local performances on campus.</p>

	
<h2>TEDxRutgers</h2>
	<h3> Marketing Committee </h3>
	<p> TEDxRutgers creates a TED conference that Rutgers kids can participate in on campus by contacting esteemed inviduals around the country. I served on the Marketing Committee for Rutgers where we helped promote and create hype for the event. We sold out of tickets!</p>
	
	
<h2>Google Community Leaders Program</h2>
	<h3> Non-Governmental Orgnanizations Committee </h3>
	<p> Google CLP is a program on campus which helps non-profit orgs and children in New Brunswick schools use the several Google Ad Grants and Ad Words technologies, as well as become accustomed to new tech. I was on the NGO committe which involved working with several New Brunswick non-profits to help them apply for grants and advertise on Google!</p>
	
	
<h2>Residence Life</h2>
	<h3> Resident Assistant </h3>
	<p> I've been interested in Rutgers Residence Life since freshman year, when I was an Event Coordinator for my hall. I will be a Resident Assistant next year!</P>
</div>

<div id="Experience" class="tabcontent">
  <h1>Work Experience</h1>
  
	
	<h2>UnitedHealth Group- Optum</h2>
	<h3> Technology Development Program intern </h3>
	<p> At UHG, I worked as a backend software engineer to modernized  a claims process stated from COBOL/DB2 to Java/MySQL saving $650k/yr. in UHG’s TCO (more details in "Projects" tab). Along with my partner, I presented bi-weekly “Shark Tank” presentations to upper management detailing progress and challenges of the project throughout the 10-week internship!</p>

	
	<h2>Rutgers Learning Centers</h2>
	<h3> Calculus II Learning Asssitant </h3>
	<p> As a learning assistant on campus, I help sustain a pleasant learning environment for classes of 30+ students weekly by assisting them and answering questions.</p>
	
	
	<h2>COYL</h2>
	<h3> Co-Head of Sales </h3>
	<p> For coyl.com, an early stage startup company, I was the co-head of sales. We created effective canvassing plans to create hype and attract initial users for the website, to become "taskers" to do tasks or "posters" to post tasks on the site. We also sourced leads on Craigslist, Nextdoor, etc. to contact through phone, and worked on finding investors for the startup.<p>
	
</div>

<div id="Projects" class="tabcontent">
  <h1>Technical Projects</h1>
	
	
  <h2>UnitedHealth Group Hack-A-Thon</h2>
	<h3>First place</h3>
	<p> On a team with interns and full-time employees, we created an assistant feeder device prototype using Arduino chip technology and basic hardware to be used to help those disabled by spinal cord injury eat handheld foods. We won first place at the Basking Ridge location!</p>

	
  <h2>UnitedHealth Group Modernization Project</h2>
	<h3>Intern Project</h3>
	<p> On a team with a fellow intern, we re-engineering a vital Optum claims review process from COBOL/DB2 (running on the mainframe) to Java/MySQL, using ODBC connections, API calls, MQ writes, SpringBoot, Kafka, Maven, and Git. We made a Kibana dashboard to monitor our progress afterwards, and scaled up the process using OpenShift and Jenkins scripts to handle tens of thousands of claims hourly, although it eventually will need to process ~1.4 million daily in production.</p>

	
  <h2>This website</h2>
	<h3>https://rishabhkapoor17.github.io</h3>	
	<p> Used Javascript, HTML, CSS, and Git to create this website and UI from scratch! </p>
	
	
  <h2>Software Methodology</h2>
	<h3>Chess</h3>	
	<p> Used Java OOP concepts to create a game of 2 player, standard input chess. </p>
	
	
  <h2>Software Methodology</h2>
	<h3>Song Library</h3>	
	<p> Used Java, SceneBuilder, and Java FXML to create a song library user interface allowing you to add, edit, and delete songs. </p>
	
	
 <h2>Software Methodology</h2>
	<h3>Photos</h3>	
	<p> Used Java, SceneBuilder, and Java FXML to create a photo library interface, including stock photos, albums, and a search functionality. </p>

	
 <h2>Data Structures</h2>
	<h3>Little Search Engine</h3>	
	<p> Used Java HashMap to create a search engine that will take input files and a "search" word and return the files which have highest word frequency. </p>

	
 <h2>Data Structures</h2>
	<h3>Expression Evaluator</h3>	
	<p> Used Java Stacks and Queues to create a program which will evaluate mathematical expressions. </p>
	
</div>
	
<div id="Fun Things" class="tabcontent">
  <h1>What makes me ME</h1>
  
	
  <h2>YouTube</h2>
	<p> I like to create funny/unique YouTube videos and vlogs when I get the chance! Check out my YouTube below the page! </p>

	
  <h2>Dance</h2>
	<p> I've been involved in Dance since middle school, and I've since learned Tap, Hip-hop, and Breakdancing! I love freezes and am still trying to get down some power moves. Hit me up at my insta below if you have advice :)</p>

		
  <h2>TikTok</h2>	
	<p> Contrary to most people my age, I love the TikTok app and use it constantly. I make my own 15 second dance videos and hope to someday go viral. Check it out below!</p>

	
  <h2>Creating and Performing Raps</h2>
	<p> Although I have not released any tracks, I love to create and write raps and bars about any occasion. I have performed raps at the past three community service coffee house events Phi Chi Theta has hosted, and hope to keep it as a side hobby!</p>
  
	  
  <h2>Traveling</h2>	
	<p> I wish to travel as much as possible during my lifetime, especially in my 20s. After 20 years of not having left the country for anything except visiting India, I finally went to Taiwan and Singapore last winter! Check out my travel vlog on YouTube! In the next year, I hope to make trips to Cancun, California, Japan and/or Bali, and Las Vegas!</p>

	  
  <h2>Friends</h2>
	<p> My college experience, and really, my last 6 years would not have been nearly as enjoyable without the company of so many friends I've made along my journey. I hope you are all able to find times to have fun with friends like I have. Pictured below are said fun times!</p>
	
</div>
	
<div id="Resume" class="tabcontent">
  <li><a href="https://drive.google.com/file/d/1V3x9s-7o10w9323xYkBXLDnQ7JZ4g1W3/view?usp=sharing">Resume here</a></li>
</div>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
};
	
$( document ).ready(function() {
$( "button:first " ).trigger( "click" );
});
</script>
   
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<body bgcolor="#E6E6FA">
			<nav>
	    		<ul>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:rishabh.kapoor798@gmail.com">Email me</a></li>
				<li><a href="https://www.linkedin.com/in/rishabh-kapoor-a0a3b5154/">My LinkedIn</a></li>
	        		<li><a href="https://github.com/rishabhkapoor17">My GitHub</a></li>
				<li><a href="https://www.youtube.com/channel/UCnMdVCWqkkJoTbMMNEXGn6A?">My YouTube</a></li>
				<li><a href="https://vm.tiktok.com/sKSkHY/">My TikTok</a></li>		
				</ul>
			</footer>
		</body>
	</html>
